@model FantaF1.Models.RisultatoGaraViewModel

<div id="CampionatoId">
    <b>Campionato:</b> @Html.DropDownList("InserisciCampionato", Model.Campionato, new { @class = "selectPick" })
</div>
<div id="iscrizioneId">
    <b>Grand Prix:</b> @Html.DropDownList("IscrizioneGP", Model.Circuiti, new { @class = "selectPick" })
</div>

<div id="PilotiSection">
    
</div>
<br />


