<div id="pronosticiutenti">
    <p>
        <input type="file" id="fileLoadedPronostici" onchange="singleFileSelectedPronostici(this)" />

        <div>
            <button id="sendFileCsvBtnPronostici" type="button" onclick="CheckFileTypePronostici(event)">Carica</button>
        </div>
    </p>
</div>
