@model FantaF1.Models.RisultatoGaraViewModel

<div id="pronosticiutenti">
    <div id="CampionatoId">
        <b>Fanta Campionato:</b> @Html.DropDownList("InserisciCampionato", Model.Campionato, new { @class = "selectPick" })
    </div>
    <div id="iscrizioneId">
        <b>Grand Prix:</b> @Html.DropDownList("IscrizioneGP", Model.Circuiti, new { @class = "selectPick" })
    </div>
    <p>
        <input type="file" id="fileLoadedPronostici" onchange="singleFileSelectedPronostici(this)" />

        <div>
            <button id="sendFileCsvBtnPronostici" type="button" onclick="CheckFileTypePronostici(event)">Carica</button>
        </div>
    </p>
</div>
